.future-feature.tag-box.tag-box-v1.tag-box-p10.box-shadow.shadow-effect-1.margin-bottom-10 {
    /* border-top: none; */
    border: solid 1px #eee;
}

.col-md-2.social a {
    color: #dadada;
    padding: 5px;
}

.media, .media-body {
    overflow: visible;
}

.media-body a {
  color: #555;
}


.channel-business .headline {
  border-bottom: 2px solid #00ab54;
}

.channel-business .headline h2,.channel-business .headline h4 {
  color: #00ab54;
  border-bottom: 2px solid #00ab54;
}
.headline.headline-business h4,.headline.headline-business h2 {
  color: #00ab54;
  border-bottom: 2px solid #00ab54;
}
.headline.headline-business {
  border-bottom: 2px solid #00ab54;
}

.channel-federalit .headline h2 {
  color: #f2682a;
  border-bottom: 2px solid #f2682a;
}

.channel-statelocal .headline h2 {
  color: #89441e;
  border-bottom: 2px solid #89441e;
}

.channel-defense .headline h2 {
  color: #193768;
  border-bottom: 2px solid #193768;
}

.channel-healthcare .headline h2 {
  color: #458bca;
  border-bottom: 2px solid #458bca;
}

.channel-energy .headline h2 {
  color: #fec52e;
  border-bottom: 2px solid #fec52e;
}

.btn.btn-join-login.btn-business {
  border: 3px solid #00ab54;
  color: #00ab54;
}
.btn.btn-join-login.btn-business:hover {
  background-color: #00ab54;
}

.channel-education .headline h2 {
  color: #715192;
  border-bottom: 2px solid #715192;
}




.channel-business #ContentScroller .carousel-inner .item .content-type {
  background-color: #00ab54;
  width: 100%;
}

.channel-federalit #ContentScroller .carousel-inner .item .content-type {
  background-color: #f2682a;
  width: 100%;
}

.channel-statelocal #ContentScroller .carousel-inner .item .content-type {
  background-color: #89441e;
  width: 100%;
}

.channel-defense #ContentScroller .carousel-inner .item .content-type {
  background-color: #193768;
  width: 100%;
}

.channel-healt#ContentScroller .care #ContentScroller .carousel-inner .item .content-type {
  background-color: #458bca;
  width: 100%;
}

.channel-energy #ContentScroller .carousel-inner .item .content-type {
  background-color: #fec52e;
  width: 100%;
}

.channel-education #ContentScroller .carousel-inner .item .content-type {
  background-color: #715192;
  width: 100%;
}




.download-now {
	text-decoration: underline;
	color: #54585a;
}

.download-div {
	margin-bottom: 0px;
}

.future-feature h2>a {
  color: #54585a !important;
}

.future-feature .btn-danger {
  background-color: #54585a !important;
}



.magazine-sb-categories .col-xs-6 {
	padding-left: 0px;
}



.btn-join-login:last-child {
    float: right;
}

.btn-danger.btn-danger-business {
  background-color: #00ab54!important;
  border: 1px solid #00ab54!important;
}

.tag-box-newsletter {
  border: 3px solid #e22726;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.tag-box-newsletter p,.tag-box-newsletter a {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

.tag-box-newsletter-business h2 {
  background: #00ab54!important;
}
.tag-box-newsletter-business {
  border: 3px solid #00ab54;
}


.tag-box-newsletter h2{
  width: 100%;
  background: #e22726;
  color: white;
  margin: 0px;
  padding: 5px 10px;
}



.btn-join-login {
    width: 165px;
    height: 56px;
    border: 3px solid #e22726;
    padding-top: 6px;
    font-size: 24px;
}


@media (max-width: 991px) {
  .btn-join-login {
    width: 135px;
  }
}


a.btn.btn-join-login:hover {
    background-color: #e22726;
}

.btn-tag-box {
    background: #fff;
    margin-bottom: 30px;
}

body {
	font-size: 14px;
}

.margin-top-5 {
	margin-top: 5px;
}

.boxed-layout {
	box-shadow: none;
}

.wrapper {
	box-shadow: 0 0 5px #ccc;
}

.form-group > label {
	vertical-align: top;
}


.form-control {
	border: 1px solid gray;
}

#leaderboard {
	margin: 10px 0;
}

#SiteSelectorDropdown ul > li > a {
	font-size: 12px;
}

#SiteSelector {
	font-size: 12px;
	font-weight: bold;
	line-height: 1.6;
	color: #fff;
	background-color: transparent;
	border: none;
}

.header-v4 .navbar-default .collapse .container {
	padding: 0;
}

.header-v4 .navbar-header {
	width: 100%;
	margin: 0;
}

.header-v4 .navbar-brand {
	margin: 0;
	padding: 0;
	height: 107px;
}

.header-v4 .navbar-default .navbar-nav > li > a {
	padding: 5px 15px 5px;
}

.header-v4 .navbar.i360nav .navbar-collapse.navbar-plain .navbar-nav {
	margin-top: 0;
}

/* uncollapsed navbar theming (md & lg) */
@media (min-width: 992px) {
	.header-v4 {
	}

	.header-v4 .navbar {
	}

	.header-v4 .navbar-collapse {
	}

	.header-v4 .navbar-default .navbar-collapse {
	}

	.header-v4 .navbar-default .navbar-nav > li {
	}

	.header-v4 .navbar-default .navbar-nav > li > a,
	.header-v4 .navbar-default .navbar-nav > li > a:visited {
	}

	.header-v4 .navbar-default .navbar-nav > li > a:hover {
	}

	.header-v4 .navbar-default .navbar-nav > li.active > a {
	}

	.header-v4 .navbar-default .navbar-plain,
	.header-v4 .navbar-default .navbar-plain .navbar-nav > li,
	.header-v4 .navbar-default .navbar-plain .navbar-nav > li > a,
	.header-v4 .navbar-default .navbar-plain .navbar-nav > li > a:hover
	.header-v4 .navbar-default .navbar-plain .navbar-nav > li > a:focus {
		border: none;
	}

	.header-v4 .navbar-default .navbar-plain .navbar-nav > li > a {
		font-size: 17px;
		padding: 5px 15px;
	}

	.header-v4 .navbar-default .navbar-plain .navbar-nav > li > a:hover
	.header-v4 .navbar-default .navbar-plain .navbar-nav > li > a:focus {
	}

	.header-v4 .navbar .search-open {
		top: 46px;
	}
}

.header-v4 .dropdown > a::after {
	content: none;
}

/* Handle the tiny break in the footer copyright */
br.tiny {
	display: none;
}

@media (max-width: 500px) {
	br.tiny {
		display: block;
	}
	.footer-default .copyright a {
		margin: 0;
	}
}

#logo-footer {
	margin-right: 40px;
}

a:hover {
	text-decoration: none !important;
}

ul.i360-link-block {
	margin-bottom: 0;
	padding-left: 15px;
}

ul.i360-link-block li {
/*DD*/
	color: black;
}

ul.i360-link-block li small {
	font-style: italic;
	/* font-size: 13px; Looks terrible */
}

ul.i360-link-block li a {
	/* font-size: 14px; Looks terrible */
}

hr.devider {
	margin: 15px 0;
}

.interior-headline {
	background: #e22726;
	color: white;
	border: none!important;
	padding: 5px 10px;
}
.headline.interior-headline h4 {
        color: white;
	padding-top: 2px;
}

.headline.policy-business {
	border-bottom: 2px solid #00ab54;
}
.headline.information-technology {
	border-bottom: 2px solid #f2682a;
}
.headline.state-local {
	border-bottom: 2px solid #89441e;
}
.headline.defense-intelligence {
	border-bottom: 2px solid #193768;
}
.headline.healthcare-policy {
	border-bottom: 2px solid #458bca;
}
.headline.energy-policy {
	border-bottom: 2px solid #fec52e;
}




.headline.policy-business .i360-analysis-link {
	color: #00ab54;
}
.headline.information-technology .i360-analysis-link {
	color: #f2682a;
}
.headline.state-local .i360-analysis-link {
	color: #89441e;
}
.headline.defense-intelligence .i360-analysis-link {
	color: #193768;
}
.headline.healthcare-policy .i360-analysis-link {
	color: #458bca;
}
.headline.energy-policy .i360-analysis-link {
	color: #fec52e;
}



a.i360-analysis-link,
a.i360-analysis-link:hover,
a.i360-analysis-link:visited {
	color: #585f69;
	text-decoration: none;
}

.content {
	padding-top: 20px;
}

img.left {
	float: left;
	margin: 0 15px 0 0;
}

img.right {
	float: right;
	margin: 0 0 0 15px;
}

.social-icons li:hover a {
	background-color: #fff;
}

.funny-boxes-img .list-unstyled {
	padding-left: 20px;
}

.funny-boxes-img .list-unstyled li i {
	margin-left: -20px;
}

.dlcholder-sponsor-list {
	list-style: none;
	padding-left: 0px;
}

.dlcholder-speaker-list {
	padding-left: 0px;
}

.footer a.btn {
	color: #fff;
}

.pagination li span {
  color: #777;
  padding: 5px 15px;
}

.yamm-tabs {
	border-bottom: none !important;
	/* border-right: 1px solid #ccc; */
	padding-right: 10px;
}

.yamm-tabs > li > a {
	cursor: pointer !important;
	border: none !important;
}

.yamm-tab-content ul > li > a {
	cursor: pointer !important;
	border: none !important;
}

.yamm-tab-content .media .media-body {
	margin-top: 10px;
}

.yamm-tab-content .media .media-body > a {
	cursor: pointer;
	border: none;
	padding: 0;
}

.yamm-tab-content .media a:hover {
	color: #d81921;
}

.bg-dc-parallax {
	background: url(../img/bg/dc_wide.jpg) 50% 0 repeat fixed;
	height: 250px;
}

.bg-capitol-parallax {
	background: url(../img/bg/capitol_wide.jpg) 50% 0 repeat fixed;
	height: 250px;
}
.bg-monument-parallax {
	background: url(../img/bg/monument_wide.jpg) 50% 0 repeat fixed;
	height: 250px;
}

.tag-box.tag-box-p10 p {
	margin-bottom: 10px;
}

.header-v4 .topbar-v1 {
	background-color: #404040;
	border: none;
}

.header-v4 .topbar-v1 .top-v1-contacts {
	margin-bottom: 0;
}

.header-v4 .topbar-v1,
.header-v4 .topbar-v1 .top-v1-data li,
.header-v4 .topbar-v1 .top-v1-data li a {
	color: #fff;
}

.header-v4 .topbar-v1 .top-v1-date {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    padding: 6px 10px;
}

.header-v4 .topbar-v1 .top-v1-contacts li,
.header-v4 .topbar-v1 .top-v1-data li {
    padding: 5px 10px;
}

.header-v4 .topbar-v1 .top-v1-contacts {
	margin-top: 0;
}

.header-v4 .topbar-v1 .top-v1-contacts li,
.header-v4 .topbar-v1 .top-v1-contacts li:first-child,
.header-v4 .topbar-v1 .top-v1-data li,
.header-v4 .topbar-v1 .top-v1-data li:first-child {
	border: none;
}

.header-v4 .mega-menu .mega-menu-fullwidth li > a {
	padding: 5px 10px;
	border: none;
}

.header-v4 .mega-menu .mega-menu-fullwidth li .media-body a {
	display: inline;
	border: none;
	padding: 0;
}

.header-v4 .mega-menu .mega-menu-fullwidth li a:after {
	content: none;
}

.header-v4 .navbar-default .navbar-toggle {
	margin-top: 10px;
}

.header-v4 .navbar-default .navbar-nav > li:first-child {
	border-left: none;
}

.img-wide img {
	margin: 0 auto;
}

#leaderboard {
	text-align: center;
}

ul.dlc-details > li > i {
	font-size: 16px !important;
}

#ContentScroller { margin-bottom: 40px; }
#ContentScroller > .viewport { background: #fff; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; box-shadow: 0 1px 4px rgba(0,0,0,0.25); -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1;}
#ContentScroller > .control-nav { clear: both; }
#ContentScroller > .control-nav .carousel-indicators {width: 100%; position: absolute; bottom: -40px; text-align: center; left: auto; margin-left: auto;}
#ContentScroller > .control-nav .carousel-indicators li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
#ContentScroller .carousel-indicators li {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3); border: none;}
#ContentScroller .carousel-indicators li:hover { background: #333; background: rgba(0,0,0,0.7); }
#ContentScroller .carousel-indicators li.active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }
#ContentScroller .carousel-control { width: 7.5%; bottom: auto; height: 20%; top: 40%;}
#ContentScroller .carousel-control.left, #ContentScroller .carousel-control.right { background-image: none; }
#ContentScroller .item a { color: #fff; }
#ContentScroller .item a:hover { color: #fccd03; }
#ContentScroller .carousel-caption {
	left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.5);
/*DD padding: 5px 8%;*/
padding: 5px 2%;
text-align: left;
text-transform: uppercase;

}
#ContentScroller .carousel-caption h3 { font-size: 18px; color: #ccc; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
#ContentScroller .carousel-caption h3 small { font-size: 15px; color: #ccc; }
#ContentScroller .carousel-caption p { font-size: 14px; color: #ccc; display: none; }
#ContentScroller .carousel-caption:hover p { font-size: 14px; color: #ccc; display: block; }
#ContentScroller .content-type {
/*DD*/
width: 100%;
background: #e22726;
font-size:
16px; color: #fff; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8); position: absolute; right: 0; top: 0;
text-transform: uppercase;

/*DD background-color: rgba(0, 0, 0, 0.25)*/; padding: 5px 15px; text-align: right; z-index: 10;}

.navbar.i360nav {
	background-color: #d81921;
}

.navbar.i360nav .navbar-collapse.navbar-plain {
	/*DD background-color: #fccd03;*/
	background-color: #54585a;
}

.navbar.i360nav .navbar-collapse.navbar-plain ul {
	margin-left: 0;
}

.navbar.i360nav .navbar-collapse.navbar-plain ul > li > a {
	/*DD color: #333;*/
	color: #ffffff;
}

.navbar.i360nav .navbar-collapse.navbar-plain ul > li:hover > a {
	color: #666;
}

.navbar.i360nav .navbar-collapse.navbar-plain ul > li.active > a {
	color: #d81921;
}

.navbar.i360nav .navbar-collapse {
	background-color: #fff;
}

.header-v4 .navbar.i360nav .navbar-toggle,
.header-v4 .navbar.i360nav .navbar-default .navbar-toggle:hover,
.header-v4 .navbar.i360nav .navbar-default .navbar-toggle:focus {
	background-color: #fccd03;
	border: none;
}

.header-v4 .navbar.i360nav .full-width-menu {
	color: #666;
	font-weight: bold;
	text-transform: none;
}

.header-v4 .navbar.i360nav .icon-bar {
	background-color: #666;
}

.btn-danger {
	background-color: #d81921 !important;
	border-color: #bd292d !important;
}

.panel-body .btn-danger {
	background-color: #54585a !important;
	border-color: #54585a !important;
	text-transform: uppercase;
}

.btn-danger:hover {
	background-color: #c9302c !important;
	border-color: #ac2925 !important;
	color: #fff !important;
}

.panel-red {
	border-color: #54585a;
}

.panel-red > .panel-heading {
	/*DD background-color: #d81921;*/
	background-color: #54585a;

}

.panel-title {
	text-transform: uppercase;
}

.navbar.i360nav .social-icons {
	margin-top: 10px;
	padding-left: 12px;
}

.navbar.i360nav > .container {
    /*DDbackground-image: url('../img/headers/header_bg.png');*/
    background-repeat: no-repeat;
    background-position: right center;
    background-color: white;
}

.yamm .yamm-content {
	padding: 5px;
}

.navbar.i360nav .yamm-content .list-inline > li {
	padding: 0;
}

.header-v4 .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu {
	margin: 0;
}

.headline {
	/*DD border-bottom: 2px solid #d81921;*/
	border-bottom: 2px solid #e22726;
	text-transform: uppercase;
}

.headline h2,
.headline h3,
.headline h4 {
	border-bottom-color: transparent;
	color: #e22726;
}

.col-md-2.social-top {
  float: right;
  margin-right: 15px;
  padding-top: 4px;
}

.col-md-2.social-top a {
    color: #54585a;
    float: right;
    margin-right: 5px;
}

.col-md-2.social {
    height: 60px;
    line-height: 6;
}

.footer-default .headline {
	/*DD border-bottom: 2px solid #fccd03;*/
	border-bottom: none;
}

.footer-default .copyright a {
	/*DD color: #fccd03 !important;*/
	color: white !important;
}

.footer-default .copyright a:hover,
.footer-default .copyright a:active {
	color: #ccb036 !important;
}

.breadcrumbs {
	padding: 0;
}

.breadcrumbs h1 {
	font-size: 18px;
}

.breadcrumb {
	margin-bottom: 0;
}

ul.dlc-details.special-reports {
	list-style-type: none;
	padding: 0 !important;
	margin: 0;
}

ul.dlc-details.special-reports li {
	background-image: url('../img/i360_icon_red.png');
	background-repeat: no-repeat;
	background-position: 0px top;
	padding-left: 40px;
}

ul.events-list {
	list-style-type: none;
}

ul.events-list li {
	margin-bottom: 25px;
}

h3.event-title {
	margin-bottom: 5px;
}

h3.event-title,
h3.event-title a {
	font-size: 18px;
	color: #d81921;
}

h3.event-title small {
	display: block;
	font-style: italic;
}

#SponsorBlock {
	width: 300px;
	margin: 0 auto;
	background: #fff;
	-webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; box-shadow: 0 1px 4px rgba(0,0,0,0.25); -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
}

#SponsorCarousel { margin-bottom: 40px; }
#SponsorCarousel > .viewport { width: 300px; height: 250px; position: relative; overflow: hidden; zoom: 1;}
#SponsorCarousel > .control-nav { clear: both; }
#SponsorCarousel > .control-nav .carousel-indicators {width: 100%; position: absolute; bottom: -40px; text-align: center; left: auto; margin-left: auto;}
#SponsorCarousel > .control-nav .carousel-indicators li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
#SponsorCarousel .carousel-indicators li {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3); border: none;}
#SponsorCarousel .carousel-indicators li:hover { background: #333; background: rgba(0,0,0,0.7); }
#SponsorCarousel .carousel-indicators li.active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

#SponsorCarousel .item > .text {
	font-size: 11px;
	padding: 4px 8px;
}

#SponsorCarousel .item > .text h3 {
	font-size: 1.2em;
	margin: 0 0 0.5em 0;
	color: #222;
	font-weight: bold;
}

#SponsorCarousel .item a { color: #fff; size: 1.1em; }
#SponsorCarousel .item a:hover { color: #fccd03; }

span.message.required {
        color: #f00;
}

.i360Business {
	background-color: #00ab54;

}


.i360FederalIT {
  background-color: #f2682a;
}


.i360StateLocal {
  background-color: #89441e;
}


.i360Defense {
  background-color: #193768;
}


.i360Healtcare {
  background-color: #458bca;
}


.i360Energy {
	background-color: #fec52e;
}


.i360Education {
  background-color: #6f538f;
}


.border-i360Business {
	border: 3px solid #00ab54;
}


.border-i360FederalIT {
	border: 3px solid #f2682a;
}


.border-i360StateLocal {
	border: 3px solid #89441e;
}


.border-i360Defense {
	border: 3px solid #193768;
}


.border-i360Healtcare {
	border: 3px solid #458bca;
}


.border-i360Energy {
	border: 3px solid #fec52e;
}


.border-i360Education {
	border: 3px solid #6f538f;
}


.border-i360Gov {
	border: 3px solid : #e22726;
}

.border-i360Business {
  color: #00ab54;
}


.border-i360FederalIT {
  color: #f2682a;
}


.border-i360StateLocal {
  color: #89441e;
}


.border-i360Defense {
  color: #193768;
}


.border-i360Healtcare {
  color: #458bca;
}


.border-i360Energy {
  color: #fec52e;
}


.border-i360Education {
  color: #6f538f;
}


.border-i360Gov {
  color: : #e22726;
}


.i360-header-logo {
	max-height: 85px;
}

.border-i360Business {
	border-bottom: 2px solid #00ab54;
}


.border-i360FederalIT {
	border-bottom: 2px solid #f2682a;
}


.border-i360StateLocal {
	border-bottom: 2px solid #89441e;
}


.border-i360Defense {
	border-bottom: 2px solid #193768;
}


.border-i360Healtcare {
	border-bottom: 2px solid #458bca;
}


.border-i360Energy {
	border-bottom: 2px solid #fec52e;
}


.border-i360Education {
	border-bottom: 2px solid #6f538f;
}


.border-i360Gov {
	border-bottom: 2px solid : #e22726;
}
